---
version: 2
updates:
  - package-ecosystem: "bundler"
    directory: "/"
    insecure-external-code-execution: allow
    schedule:
      interval: "weekly"
      day: "tuesday"
      time: "06:00"
      timezone: "Europe/Oslo"
    versioning-strategy: lockfile-only
    cooldown:
      default-days: 3
      semver-major-days: 7
      semver-minor-days: 5
      semver-patch-days: 3
    groups:
      major:
        update-types:
          - "major"
      minor-and-patch:
        update-types:
          - "minor"
          - "patch"
    open-pull-requests-limit: 5

  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "tuesday"
      time: "06:00"
      timezone: "Europe/Oslo"
    cooldown:
      default-days: 3
      semver-major-days: 7
      semver-minor-days: 5
      semver-patch-days: 3
    ignore:
      - dependency-name: "*"
        update-types: ["version-update:semver-major"]
    groups:
      minor-and-patch:
        update-types:
          - "minor"
          - "patch"
    open-pull-requests-limit: 5

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "tuesday"
      time: "06:00"
      timezone: "Europe/Oslo"
    cooldown:
      default-days: 3
    groups:
      actions:
        patterns:
          - "*"
    open-pull-requests-limit: 5
