<% content_for(:page_title, "\"#{search_query}\" in " + @exchange.title) %>

<% if @posts %>
  <%= render(partial: "components/pagination",
             locals: { p: @posts, pagination_params: { q: search_query } }) %>
  <div class="posts">
    <%= render(partial: "posts/post", collection: @posts) %>
  </div>
  <%= render(partial: "components/pagination",
             locals: { p: @posts, pagination_params: { q: search_query } }) %>
<% else %>
  <div class="page_content">
    <p>
      No posts were found.
    </p>
  </div>
<% end %>
