<h2>Participants</h2>
<ul>
  <% participants.each do |participant| %>
    <li>
      <%= profile_link(participant) %>
      <% if exchange.removeable_by?(participant, current_user) %>
        <%= link_to("Remove",
                    conversation_participant_path(
                      exchange,
                      participant.username
                    ),
                    class: "remove-participant",
                    method: :delete,
                    data: { confirm: "Are you sure?" }) %>
      <% end %>
    </li>
  <% end %>
</ul>
