---
service: b3s
image: ghcr.io/b3s/b3s

ssh:
  user: app

servers:
  web:
    - vimes.elektronaut.no
  jobs:
    hosts:
      - vimes.elektronaut.no
    cmd: bin/jobs

proxy:
  ssl: true
  app_port: 80
  hosts:
    - b3s.me
    - www.b3s.me
    - butt3rscotch.org
    - www.butt3rscotch.org
    - b3s.vimes.elektronaut.no

registry:
  server: ghcr.io
  username: elektronaut
  password:
    - KAMAL_REGISTRY_PASSWORD

builder:
  arch: amd64

env:
  clear:
    RAILS_ENV: "production"
    WEB_CONCURRENCY: 2
    NGINX_CACHE_MAX_SIZE: "20g"
  secret:
    - RAILS_MASTER_KEY
    - DATABASE_URL
    - OEMBED_FACEBOOK_TOKEN

# Persistent nginx image cache across deploys
volumes:
  - "b3s-nginx-cache:/var/cache/nginx"

asset_path: /app/public/assets

logging:
  options:
    max-size: 300m

accessories:
  postgres:
    image: postgres:18
    roles:
      - web
    env:
      clear:
        POSTGRES_USER: "b3s"
        POSTGRES_DB: "b3s"
      secret:
        - POSTGRES_PASSWORD
    cmd: "postgres -c shared_buffers=512MB"
    directories:
      - data:/var/lib/postgresql
  postgres-backups:
    image: siemens/postgres-backup-s3:18
    roles:
      - web
    env:
      clear:
        SCHEDULE: "@daily"
        BACKUP_KEEP_DAYS: 14
        S3_BUCKET: b3s-db-backups
        S3_PREFIX: postgres
        S3_REGION: eu-central-1
        POSTGRES_USER: "b3s"
        POSTGRES_DATABASE: "b3s"
        POSTGRES_HOST: "b3s-postgres"
      secret:
        - POSTGRES_PASSWORD
        - S3_ACCESS_KEY_ID
        - S3_SECRET_ACCESS_KEY
