<% content_for(:page_title, "Posts: \"#{search_query}\"") %>

<% if @posts %>
  <%= render(partial: "components/pagination",
             locals: { p: @posts, pagination_params: { q: search_query } }) %>
  <%= render(partial: "posts/list", locals: { posts: @posts }) %>
  <%= render(partial: "components/pagination",
             locals: { p: @posts, pagination_params: { q: search_query } }) %>
<% else %>
  <div class="page_content">
    <p>
      No posts were found.
    </p>
  </div>
<% end %>
